.all-products-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 70%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.products-failure-image {
  width: 70%;
}
.failure-heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}
.failure-para {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .failure-view-container {
    width: 100%;
  }
  .products-failure-image {
    width: 40%;
  }
  .failure-heading {
    font-size: 20px;
  }
  .failure-para {
    font-size: 16px;
  }
}
